body {
    margin: 0;
    background: linear-gradient(148deg, rgba(241, 198, 136, 1) 0%, rgba(255, 226, 196, 1) 35%);
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
    color: #7E1612;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #7E1612;
}

p {
    font-size: 1rem;
    max-width: 65ch;
    color: #7E1612;
}

h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 10px;
    font-weight: 400;
    color: #7E1612;
}

h3 {
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    color: #7E1612;
}

button {
    color: #FFE2C4;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        margin: 0;
    }
}


.main {
    height: auto;
    width: 60vw;
    border: 3px solid #7E1612;
    border-top: 0;
    align-items: center;
    justify-content: center;

    border-bottom: none;
}

.hidden_class {
    display: none;
}


#logo {
    width: 40%;
}

#car {
    max-width: 100px;
    padding: 20px 50px;
}

.order_now {
    width: 100%;
    background: #7E1612;
    border-left: none;
    border-right: none;
    color: #FFE2C4;

    border: none;
    transition: 300ms;
    ;

    >*>* {
        padding: 13px 30px;
    }

    img {
        max-height: 2rem;
    }

    h3 {
        color: #FFE2C4;
        margin: 0;
    }

    >* {
        transition: 250ms ease-out;
    }

    >*:hover {
        cursor: pointer;
        scale: 1.05;
    }

}

.mini_menu {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    border-left: none;
    border-right: none;

    .flex_col {
        flex-wrap: nowrap;
    }

    .flex_row {
        flex-wrap: nowrap;
    }

    .item {
        position: relative;
        width: calc(100% / 3);
        border: 1px solid #7E1612;

        overflow: hidden;

        h3 {
            height: calc((60vw / 3) - 2px);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            transition: opacity 0.3s ease-in-out;
        }

        img {
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            transition: transform 0.3s ease-in-out;
        }

        &:hover h3 {
            cursor: pointer;
            opacity: 0;
        }

        &:hover img {
            cursor: pointer;
            transform: translateY(-100%);
        }
    }
}

.about_us {
    width: 100%;
    border: 3px solid #7E1612;
    border-left: none;
    border-right: none;


    >*>* {
        min-width: 300px;
        height: 100%;
        width: 50%;
    }

    img {
        height: 100%;
    }

    p {
        width: 80%;
        letter-spacing: 3px;
        word-spacing: 10px;
    }
}


.contact_us {
    position: relative;
    padding: 1vw 0;
    overflow: hidden;

    &:hover {
        cursor: auto;

        .find_me_img {
            transform: translateY(calc(+100% + 2px));

            &:hover {
                cursor: pointer;
            }
        }
    }

    .flex_row {
        flex-wrap: nowrap;
    }

    .contact_link {
        height: 100%;
        width: 50%;

        display: flex;
        justify-content: center;

        .cntct_link_child {
            display: flex;
            flex-direction: column;
            width: max-content;
            justify-content: left;

            >* {
                justify-content: start;
            }

        }
    }

    .find_me {
        width: 50%;
        height: 100%;
        overflow: visible;

        >* {
            height: 100%;
            width: 100%;
            transition: 250ms;

            &:hover {
                opacity: 0;
            }

            >* {
                margin: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    >* img {
        position: relative;
        max-width: 35px;
        padding: 10px;
    }

    p {
        max-width: 300px;
    }

    .find_me_img {
        position: absolute;
        width: 50%;
        bottom: calc(100% + 2px);
        right: 0;
        transition: transform 300ms ease-in-out;
    }

    >* :nth-child(2):hover {
        cursor: pointer;
    }

}

.our_location {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    >* {
        margin: 0 5% 5%;
    }


}

.footer {
    width: calc(100%-60);
    border: 3px solid #7E1612;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu_content {
    width: 100%;
    border: #7E1612 3px solid;
    border-left: none;
    border-right: none;



    h2 {
        margin: 30px;
    }

    h3 {
        padding: 30px;
    }
}

.grid_3xn {
    display: grid;
    height: auto;
    padding: 15px;
    padding-bottom: 120px;
    width: 100%;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, calc(100% / 4)));
    border-bottom: #7E1612 3px solid;

    row-gap: 5vw;
    column-gap: 5vh;

    img {
        margin-bottom: 20px;
    }

    .grid_item {
        height: 100%;
        min-width: 300px;
        padding: 40px;
        border: #7E1612 2px dashed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        aspect-ratio: 5/8;

        #menu_title {
            font-size: 1.5rem;
            font-weight: 700;
        }

        #add_btn {
            color: #7E1612;
            padding: 10px;
            background: none;
            font-weight: 500;
            border: #7E1612 solid 2px;
            transition: 200ms;
        }

        #add_btn:hover {
            background: #7E1612;
            color: #FFE2C4;
        }

        .menu_details2 {
            background: pink;

        }

    }

    .grid_item:hover {
        border: #7E1612 solid 2px;
    }

}

#open_cart_btn {
    display: none;
}

#cart-quantity {
    position: absolute;
    right: 6vh;
    top: 7vh;
    background: #FFE2C4;
    color: #7E1612;
    font-size: 2vh;
    padding: 1px 8px;
    border: 2px solid #FFE2C4;
    border-radius: 50%;
    scale: 0.8;
    font-weight: 500;
    text-align: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.open_cart_btn {
    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #7E1612;
    width: 10vw;
    height: calc(12vh + 4px);
    padding: 15px;
    border: none;

    z-index: 1;

    img {
        height: 60%;
    }
}

.open_cart_btn:hover {
    cursor: pointer;
}

#open_cart_btn:checked~.cart_content {
    right: -30vw;
    transform: translateX(-30vw);
}

#open_cart_btn:checked+.open_cart_btn .cart_icon {
    transform: rotate(360deg);
}

#open_cart_btn:checked+.open_cart_btn .cart_icon,
#open_cart_btn:not(:checked)+.open_cart_btn .cart_icon {
    transition: transform 0.5s ease, content 0.5s;
}

#open_cart_btn:checked+.open_cart_btn .cart_icon {
    content: url("./assets/ic_close.svg");
}

.cart_content.move {
    margin-left: 30;
}

.cart_content {
    position: fixed;
    right: -30vw;
    top: 0;
    padding: 13vh 0.5vw 3vh 0.5vw;
    width: 30vw;
    height: 100vh;
    background: #7E1612;

    transition: transform 0.5s ease;

    h2 {
        color: #FFE2C4;
        padding: 0 1vw;
        padding-bottom: 2vw;
    }

    .cart {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        >* {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

    }

    .order {
        max-height: 69vh;
        width: 90%;
        padding: 10px 0;
        margin: 10px 0 10px;
        overflow-y: auto;
        scroll-behavior: auto;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }


    .order li {
        height: auto;
        background: #FFE2C4;
        margin: 20px 0px;
        border: 0px solid;

        .cart_item_details {
            width: 100%;
            padding: 0px 10px;
            margin: 0;
            justify-content: start;
        }
    }

    .order .item_btn {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .order .item_btn button {
        width: calc(100% / 3);
        margin-top: 15px;
        padding: 5px;
        color: #7E1612;
        background: #FFE2C4;
        border: #7E1612 0px solid;
        border-top: #7E1612 2px solid;
        font-size: 1.5rem;
        transition: 300ms;
    }

    .order .item_btn button:hover {
        cursor: pointer;
        background: #7E1612;
        color: #FFE2C4;
    }

    .order .item_btn button:nth-child(2) {
        border: 2px solid #7E1612;
        border-bottom: 0px;
    }


    .checkout_div {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 20px;
        min-width: fit-content;
        background-color: #7E1612;
        color: #FFE2C4;
        font-size: 1.5rem;
        margin: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        button {
            color: #7E1612;
            padding: 10px 15px;
            background: #FFE2C4;
            border: 0px;
            border-radius: 15px;

            transition: 300ms ease;
        }

        >* {
            margin-right: 1vw;
        }

        button:hover {
            scale: 1.05;
        }

    }
}


.receipt_page {
    margin: 5vw 0px;
    height: fit-content;
    padding: 30px;
    background: rgba(0, 0, 0, 0.044);
    border: 1px solid rgb(109, 109, 109);
    border-radius: 15px;

    button {
        padding: 2vw 3vw;
        font-size: 1rem;
        font-weight: 600;
        color: #095fc0;
        background: none;
        border: solid #095fc0 1px;
        border-radius: 5px;
        transition: 300ms ease-in;

    }

    button:hover {

        color: #f4f4f4;
        background: #095fc0;
        border: solid #095fc0 1px;
        border-radius: 5px;
        scale: 1.05;

    }

    :nth-child(2) {
        align-items: start;
    }



    >*>* {
        width: 45%;

        &:nth-child(1) {
            align-items: start;

            .receipt {
                width: 100%;

                *>* {
                    margin: 5px 0;
                }
            }
        }
    }

    h2 {
        text-align: center;
        margin: 2vw 0;
    }
}

#customer-form>* {
    align-items: flex-start;

    >* {
        margin: 5px;

        input {
            width: 100%;
            padding: 8px;
            border-radius: 5px;

        }
    }
}

.qr_container {
    padding: 1vw;
    height: 50%;

    >* {
        justify-content: space-between;
    }

    >*>* {

        width: 49%;
        height: auto;
    }

    img {
        width: 49%;
        min-width: 220px;
        border-radius: 15px;

    }
}


@media screen and (max-width:1150px) {

    p {
        font-size: 2vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .main {
        width: 100vw;
    }

    .mini_menu {
        >*>* {
            height: calc((100vw / 3) - 3px);
        }
    }

    .grid_3xn {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        row-gap: 25px;
        column-gap: 25px;
        padding: 0 10vw 50px;


        img {
            width: 100%;
            height: auto;
        }

    }

    .receipt_page {
        margin: 10vw;

        >*>* {
            min-width: 440px;

        }
    }

    .qr_container {
        >* {
            justify-content: center;
        }

        img {
            margin: 10px;
        }
    }

    .grid_item {
        width: 100%;
        height: 100%;
        padding: 10px;

        display: flex;

        text-align: center;

        p {
            align-items: center;
        }

    }


    #open_cart_btn:checked~.cart_content {
        right: -100vw;
        transform: translateX(-100vw);
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon {
        transform: rotate(360deg);
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon,
    #open_cart_btn:not(:checked)+.open_cart_btn .cart_icon {
        transition: transform 0.5s ease, content 0.5s;
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon {
        content: url("./assets/ic_close.svg");
    }

    .cart_content {
        position: fixed;
        right: 100vw;
        top: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background: #7E1612;
        transition: transform 0.5s ease-in-out;

        h2 {
            color: #FFE2C4;
            padding: 0 1vw;
            padding-bottom: 2vw;
        }

        .cart {
            width: 100%;
            padding-top: calc(12vh + 4px);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            >* {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

        }

        .order {
            max-height: 69vh;
            width: 50%;
            padding: 10px 0;
            margin: 10px 0 10px;
            overflow-y: auto;
            scroll-behavior: auto;

            ul {
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }


        .order li {
            height: auto;
            background: #FFE2C4;
            margin: 20px 0px;
            border: 0px solid;
            min-width: 90%;

            .cart_item_details {
                width: 100%;
                padding: 0px 10px;
                margin: 0;
                justify-content: start;
            }
        }

        .order .item_btn {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 2rem;
        }

        .order .item_btn button {
            width: calc(100% / 3);
            margin-top: 15px;
            padding: 5px;
            color: #7E1612;
            background: #FFE2C4;
            border: #7E1612 0px solid;
            border-top: #7E1612 2px solid;

        }

        .order .item_btn button:nth-child(2) {
            border: 2px solid #7E1612;
            border-bottom: 0px;
        }


        .checkout_div {
            position: absolute;
            bottom: 0px;
            width: 100%;
            padding: 20px;
            min-width: fit-content;
            background-color: #7E1612;
            color: #FFE2C4;
            font-size: 1.5rem;
            margin: 0;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            button {
                color: #7E1612;
                padding: 10px 15px;
                background: #FFE2C4;
                border: 0px;
                border-radius: 15px;

                transition: 300ms ease;
            }

            >* {
                margin-right: 1vw;
            }

            button:hover {
                scale: 1.05;
            }

        }
    }
}


@media screen and (max-width:800px) {
    p {
        font-size: 2vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    #car {
        min-width: none;
        width: 15vw;
        padding: 2vw;
    }

    .receipt_page {
        margin: 3vw;
        padding: 3vw;

        flex_col,
        .flex_row {
            justify-content: center;
            align-items: center;
        }

        >* {

            flex_col,
            .flex_row {
                justify-content: center;
                align-items: center;
            }

            >* {

                flex_col,
                .flex_row {
                    justify-content: center;
                    align-items: center;
                }
            }

        }

        p {
            font-size: 3vw;
        }

        img {
            min-width: none;
        }
    }

    .grid_3xn {
        width: 100%;
        grid-template-columns: auto auto;
        padding: 0 10vw 50px;

        .grid_item {
            padding: 20px;
            height: 100%;
            width: 100%;
            min-width: 200px;

            display: flex;
            justify-content: space-between;
        }

        p {
            margin: 0 0 5px;
        }

        img {
            margin: 0 0 10px;
        }
    }

    .header {
        position: fixed;
        background: #f3c98e;
        top: 0;
        height: 100px;
        border-bottom: 3px solid #7E1612;
    }

    .menu_content {
        margin-top: 100px;
    }

    .open_cart_btn {
        width: 100px;
        height: 100px;

    }

    #open_cart_btn:checked~.cart_content {
        right: -100vw;
        transform: translateX(-100vw);
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon {
        transform: rotate(360deg);
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon,
    #open_cart_btn:not(:checked)+.open_cart_btn .cart_icon {
        transition: transform 0.5s ease, content 0.5s;
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon {
        content: url("./assets/ic_close.svg");
    }

    .cart_content {
        position: fixed;
        right: 100vw;
        top: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background: #7E1612;
        transition: transform 0.5s ease-in-out;

        h2 {
            color: #FFE2C4;
            padding: 0 1vw;
            padding-bottom: 2vw;
        }

        .cart {
            width: 100%;
            padding-top: calc(12vh + 4px);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            >* {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

        }

        .order {
            max-height: 69vh;
            width: 65%;
            padding: 10px 0;
            margin: 10px 0 10px;
            overflow-y: auto;
            scroll-behavior: auto;

            ul {
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }


        .order li {
            height: auto;
            background: #FFE2C4;
            margin: 20px 0px;
            border: 0px solid;
            min-width: 90%;

            .cart_item_details {
                width: 100%;
                padding: 0px 10px;
                margin: 0;
                justify-content: start;
            }
        }

        .order .item_btn {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 2rem;
        }

        .order .item_btn button {
            width: calc(100% / 3);
            margin-top: 15px;
            padding: 5px;
            color: #7E1612;
            background: #FFE2C4;
            border: #7E1612 0px solid;
            border-top: #7E1612 2px solid;

        }

        .order .item_btn button:nth-child(2) {
            border: 2px solid #7E1612;
            border-bottom: 0px;
        }


        .checkout_div {
            position: absolute;
            bottom: 0px;
            width: 100%;
            padding: 20px;
            min-width: fit-content;
            background-color: #7E1612;
            color: #FFE2C4;
            font-size: 1.5rem;
            margin: 0;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            button {
                color: #7E1612;
                padding: 10px 15px;
                background: #FFE2C4;
                border: 0px;
                border-radius: 15px;

                transition: 300ms ease;
            }

            >* {
                margin-right: 1vw;
            }

            button:hover {
                scale: 1.05;
            }

        }
    }



}

@media screen and (max-width:500px) {

    p {
        font-size: 4vw;
    }

    h2 {
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 1px;
    }

    h3 {
        font-size: 4vw;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .about_us {
        padding: 5vw 0 0;

        >*>* {
            margin-bottom: 5vw;
        }
    }

    .menu {
        padding: 0;
        margin: 0;
        min-width: none;

    }

    .grid_3xn {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        row-gap: 5vw;
        column-gap: 5vw;
        padding: 0 5vw 50px;
    }

    .grid_item {
        width: 100%;
        height: 100%;
        min-width: 100px;

        img {
            min-width: 50px;
            width: 100%;
            height: auto;
        }

        #menu_price {
            font-size: 0.8rem;
        }

        button {
            font-size: 0.8rem;
        }
    }

    .cart_content {
        right: -100vw;
    }

    #menu_title {
        font-size: 0.9em;
        line-height: 1.1;
    }

    #open_cart_btn:checked~.cart_content {
        right: -100vw;
        transform: translateX(-100vw);
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon {
        transform: rotate(360deg);
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon,
    #open_cart_btn:not(:checked)+.open_cart_btn .cart_icon {
        transition: transform 0.5s ease, content 0.5s;
    }

    #open_cart_btn:checked+.open_cart_btn .cart_icon {
        content: url("./assets/ic_close.svg");
    }

    .receipt_page {

        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        padding: 1vw;
        border: none;
        background: none;

        >* {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

        }

        p {
            text-align: center;
            font-size: 4vw;

        }

        .flex_col {
            align-items: center;
            justify-content: center;
        }
    }

}